@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

strong {
    color: gray;
    font-weight: 800;
}

button {
    appearance: none;
    border: none;
    background-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1600px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #e2e2e2;
}

#header-logo {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.color-red {
    font-size: 25px;
    color : red;
    font-weight: bold;
}

.select-criteria {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: black;
    padding: 20px 10px;
}

.select-criteria > a {
    background-color: white;
    padding: 5px 5px;
    border-radius: 4px;
}

.select-criteria > a:hover {
    box-shadow: 2px 2px 5px black;
}

.review-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.review-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2e2e2;
    min-width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.5);
}

.review-box > h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Icon Setting Field */

.ri-sticky-note-add-line {
    font-size: 40px;
}

.ri-sticky-note-add-line:hover {
    font-size: 42px;
    color: red;
}

/* Detail Field */

.review-detail-image {
    width: 150px;
    height: 200px;
    overflow: hidden;
}

.review-detail-image img{
    width: 100%;
    height: 100%;
}

.review-list-image {
    margin-bottom: 20px;
    border-radius: 10px;
}

.review-detail-header {
    width: 80%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-detail-header > h1 {
    font-size: 50px;
    font-weight: bold;
}

.review-detail-header > div:first-of-type{
    display: flex;
    align-items: center;
}

.detail-icon {
    font-size: 20px;
}

.detail-icon:hover {
    color: red;
}

.review-detail-body,
.review-detail-content {
    width: 80%;
    margin-top: 10px;
    padding: 15px;
    background-color: #e2e2e2;
    border-radius: 5px;
}

.review-detail-body {
    display: flex;
    gap: 10px;
}

.review-detail-body > div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
}

.review-detail-content {
    min-height: 100px;
    line-height: 24px;
}

.review-edit-container {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    gap: 10px;
    padding: 20px;
    width: 100%;
}

.review-edit-container > p:nth-of-type(9) {
    font-size: 0px;
    gap: 2px;
}

.review-edit-container > p:nth-of-type(9)::before{
    content: "이미지: ";
    font-size: 16px;
}

.review-edit-container > h1 {
    text-align: center;
    padding: auto;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    border-bottom: 1px solid gray;
}

.review-edit-container > p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-edit-container > p:nth-of-type(6) {
    align-items: flex-start;
}

.review-edit-container > p > textarea,
.review-edit-container > p > select,
.review-edit-container > p > input {
    border: 1px solid darkgray;
    border-radius: 4px;
}

.review-edit-container > p > input {
    min-height: 20px;
}

.review-edit-container > p > textarea {
    resize: none;
}

#id_release_date, #id_score, #id_showtime {
    max-width: 60px;
}

.review-edit-container > button {
    font-size: 20px;
    width: 80px;
    margin-left: auto;
    background-color: darkgray;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
}